body {
  font-family: 'Times New Roman', Times, serif;
  background-color: gray;
}

#listContainer {
  list-style: none;
  padding: 0;
  margin: 0;
}

#listContainer li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.purchased {
  text-decoration: line-through;
}

